LMSXI/2evaluacion/XML/Repaso/Esquemas/figuras/figuras.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="triangulos">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="triangulo" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="base" type="xs:integer"/>
            <xs:attribute name="altura" type="xs:integer"/>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
