1/LMSXI/2evaluacion/XML/Repaso/libros/libros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="libro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string"/>
        
        <xs:element name="autor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="apellido" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
      <xs:attribute name="isbn" type="xs:string" default="b123"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
