LMSXI/1evaluacion/xml/boletines hechos/dtd esquema/Validacion externa.dtd

<!ELEMENT persona (nombre, nacimiento?, direccion, varon)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT nacimiento EMPTY>
<!ATTLIST nacimiento dia NMTOKEN #REQUIRED
mes NMTOKEN #REQUIRED
anyo NMTOKEN #REQUIRED>
<!ELEMENT direccion (calle, poblacion, provincia, cpostal)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT cpostal (#PCDATA)>
<!ELEMENT varon EMPTY>